Repository commclassroom/commclassroomBackend, pull requests merged in 2021-09, with the labels that each got.

#4 initialize project structure
  .eslintrc.json
  .gitignore
  .prettierrc.json
  config/default.yml
  config/test.yml
  package-lock.json
  package.json
  src/app.js
  src/modules/user/user.controller.js
  src/modules/user/user.routes.js
  src/modules/user/user.schema.js
  src/modules/user/user.service.js
  src/server.js
  src/services/database/index.js
  src/services/logger/index.js
Labels: enhancement

#25 Minor fixes
  package-lock.json
  package.json
  src/modules/user/user.controller.js
  src/services/logger/index.js
  tests/app.test.js
Labels: bug, chore / build system

#35 User creation and patching
  src/app.js
  src/modules/user/user.controller.js
  src/modules/user/user.routes.js
  src/modules/user/user.service.js
Labels: module:user, WIP

#32 Added Course schema and CRUD APIs on Course #30
  src/app.js
  src/modules/course/course.controller.js
  src/modules/course/course.routes.js
  src/modules/course/course.schema.js
  src/modules/course/course.service.js
Labels: module:course, WIP
